.bookinglist {
    h6 {
        font-weight: bold;
        font-size: 14px;
        margin: 0;
        padding: 2px;
    }
}

ion-col{
   padding: 0em;
}
.ion-text-wrap >h6{
  font-weight: normal ;
}

.toolbar-title {
    width: 90%;
    padding-bottom: 8px;
}