<ion-header>

  <ion-toolbar mode="ios">
    <ion-title >Login ver. {{displayversion}}</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content overflow-scroll="false" class="ion-padding">
	<ion-list lines="none">
		<form #form="ngForm" (ngSubmit)="logForm(form)" novalidate>
			<ion-item>
			  <ion-label position="fixed" class="code">Merchant Code</ion-label>
			  <ion-input  [(ngModel)]="todo.loginid" #logininput name="loginid" type="number" myTabindex="1" required pattern="([0-9]{8})" clearInput></ion-input>
			</ion-item>
			<ion-item >
			  <ion-label position="fixed" class="pass">Password</ion-label>
			  <ion-input [(ngModel)]="todo.pwd" #loginpass name="pwd" type="password" myTabindex="2" [required]="isRequired" clearInput></ion-input>
			</ion-item>
			<ion-item lines="none">
			  <ion-label>Remember You</ion-label>
			  <ion-checkbox [(ngModel)]="todo.rmbme" name="rmbme" color="danger" slot="start"></ion-checkbox>
			</ion-item>

			<div class="ion-text-center">
			  <ion-button type="submit" color="danger"  expand="block" size="large">Sign In</ion-button>
			</div>
		</form>
	</ion-list>
</ion-content>